src/main/resources/xml/schemas/projecttracker/ProjectTracker_Type.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="../accounting/Accounting_Type.xsd"/>
	<xsd:include schemaLocation="../contacts/Contacts_Common_Type.xsd"/>
	<xsd:include schemaLocation="../misc/Misc_Types_Type.xsd"/>

	<xsd:annotation>
		<xsd:documentation>Project Tracker Data Types</xsd:documentation>
	</xsd:annotation>

	<xsd:complexType name="project_criteria_group">
		<xsd:sequence>
			<xsd:element name="client_criteria" type="client_criteria_type" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The client selection criteria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="employee_criteria" type="employee_criteria_type" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The employee selection criteria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="task_criteria" type="task_criteria_type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The task selection criteria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timesheet_criteria" type="timesheet_criteria_type" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The timesheet selection criteria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="employee_project_criteria" type="employee_project_criteria_type" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The employee/project selection criteria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="project_criteria" type="project_criteria_type" minOccurs="0"	maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The project selection criteria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="employee_title_criteria" type="employee_title_criteria_type" minOccurs="0"	maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The employee title selection criteria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="employee_type_criteria" type="employee_type_criteria_type" minOccurs="0"	maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The employee type selection criteria</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="project_detail_group">
		<xsd:sequence>
			<xsd:element name="employee_type" type="employeetype_type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The employee types</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="employee_title" type="employee_title_type" minOccurs="0"	maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The employee titles</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="employee" type="employee_type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The employee details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="client" type="client_type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The client details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="project" type="project_type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The project details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="employee_project" type="employee_project_type" minOccurs="0"	maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The employee project details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timesheet_status" type="timesheet_status_type" minOccurs="0"	maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The timesheet status details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timesheet_status_history" type="timesheet_status_history_type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The timesheet status history details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timesheet" type="timesheet_type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The timesheet details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="task" type="task_type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The task details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="project_task" type="project_task_type" minOccurs="0"	maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The project task details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="time_log" type="event_type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The timesheet event details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="project_period" type="project_periods_type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The project period legend</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="employeetype_type">
		<xsd:sequence>
			<xsd:element name="employee_type_id" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the employee type id</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the emplyoyee type description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="employee_title_type">
		<xsd:sequence>
			<xsd:element name="employee_title_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the employee title id</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the emplyoyee title description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="employee_type">
		<xsd:sequence>
			<xsd:element name="employee_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the employee id</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="employee_type" type="employeetype_type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the emplyoyee details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="is_manager" type="xsd:boolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Indicates whether or not the employee is a manager</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="manager_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Manager details</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="employee_title" type="employee_title_type" minOccurs="0"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the empoyee's title</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="login_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the empoyee's login id</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="login_name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the empoyee's login name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contact_details" type="person_type" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="start_date" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the empoyee's start of employment date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="termination_date" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the empoyee's end of employment date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="project_count" type="xsd:integer" minOccurs="0" maxOccurs="1" default="0">
				<xsd:annotation>
					<xsd:documentation>This is the empoyee's total count of projects worked</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tracking" type="record_tracking_type" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="client_type">
		<xsd:sequence>
			<xsd:element name="client_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the client id</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the client's name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="customer" type="customer_type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the client id</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flat_rate" type="xsd:decimal" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the client's flat bill rate</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bill_rate" type="xsd:decimal" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the client's bill rate</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ot_bill_rate" type="xsd:decimal" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the client's overtime bill rate</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tracking" type="record_tracking_type" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="project_type">
		<xsd:sequence>
			<xsd:element name="project_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the project id</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="client" type="client_type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the project's client</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the description of the project</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="effective_date" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the project start date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="end_date" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the project's end date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tracking" type="record_tracking_type" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="employee_project_type">
		<xsd:sequence>
			<xsd:element name="employee_project_id" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the employee project id</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="project" type="project_type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the project</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="employee" type="employee_type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the employee</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="effective_date" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the employee project start date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="end_date" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the employee project's end date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hourly_rate" type="xsd:decimal" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the employee hourly rate</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hourly_overtime_rate" type="xsd:decimal" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the employee hourly overtime rate</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flat_rate" type="xsd:decimal" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the employee flat rate.  This generally represents the salary of a permanent/full time employee</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="comments" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the description of the project</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tracking" type="record_tracking_type" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="timesheet_status_type">
		<xsd:sequence>
			<xsd:element name="timesheet_status_id" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the unique identifier of the timesheet status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the name of the timesheet status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the status description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="timesheet_status_history_type">
		<xsd:sequence>
			<xsd:element name="timesheet_status_history_id" type="xsd:integer" minOccurs="1"
				maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the unique identifier of the timesheet status history item</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="status" type="timesheet_status_type" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the timesheet status for the history item</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="timesheet" type="timesheet_type" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the associated timesheet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="effective_date" type="xsd:date" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the beginning period of the status history item</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="end_date" type="xsd:date" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the ending period of the status history item</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tracking" type="record_tracking_type" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="timesheet_type">
		<xsd:sequence>
			<xsd:element name="timesheet_id" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the unique identifier of the timesheet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="proj_id" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the project id.  Legacy system uses this property.  In regards to the new system, this property will no longer be used since a timesheet can managed time for multiple project of a given client</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="client" type="client_type" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The client data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="employee" type="employee_type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The employee data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hourly_rate" type="xsd:decimal" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Employee's hourly rate that will be applied to timesheet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="overtime_hourly_rate" type="xsd:decimal" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Employee's over time hourly rate that will be applied to timesheet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="display_value" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the name of the project related to the client</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="period_begin" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the beginning period of timesheet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="period_end" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the ending period of timesheet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="status" type="timesheet_status_type" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Current timessheet status information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="status_history_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The description of the status</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="status_effective_date" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The date when the status became effective</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="status_end_date" type="xsd:date" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The date when the status ended</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="invoice_ref_no" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the invoice reference number</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="external_ref_no" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the external reference number</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ext_document_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the id of the document or image that represents this timesheet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="time_log" type="event_type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Tracks the time spent on a timesheet task on a given date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="status_history" type="timesheet_status_history_type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Tracks the status history belonging to this timesheet.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="document_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the id of the document or image that represents this timesheet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="comments" type="xsd:string" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the comments</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="billable_hours" type="xsd:decimal" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Total billable hours for timesheet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="non_billable_hours" type="xsd:decimal" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Total non billable hours for timesheet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tracking" type="record_tracking_type" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="task_type">
		<xsd:sequence>
			<xsd:element name="task_id" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the task id</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the description of the task</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="billable" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the task billable. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tracking" type="record_tracking_type" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="project_task_type">
		<xsd:sequence>
			<xsd:element name="project_task_id" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the project task id</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="project_id" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The id of the project</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="project_name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The name of the project</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="task_id" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The id of the task </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="task_name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The name of the task</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="event_type">
		<xsd:sequence>
			<xsd:element name="event_id" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the timesheet event id</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="event_date" type="xsd:dateTime" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The date and time of the event.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hours" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="project_task" type="project_task_type" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Manages details of the project/task data</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tracking" type="record_tracking_type" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="project_periods_type">
		<xsd:sequence>
			<xsd:element name="period_id" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the unique identifier</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="period_type" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>This is the description of the period</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="period_max_hours" type="xsd:integer" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The maximum hours for the period.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="employee_criteria_type">
		<xsd:sequence>
			<xsd:element name="employee_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="employee_type_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="manager_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="is_manager" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="employee_title_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="first_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="last_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="company_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="project_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="login_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ssn" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="employee_title_criteria_type">
		<xsd:sequence>
			<xsd:element name="employee_title_id" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="employee_type_criteria_type">
		<xsd:sequence>
			<xsd:element name="employee_type_id" type="xsd:integer" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="timesheet_criteria_type">
		<xsd:sequence>
			<xsd:element name="timesheet_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="status_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="employee_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="client_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="project_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="period_begin" type="xsd:date" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="period_end" type="xsd:date" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="client_criteria_type">
		<xsd:sequence>
			<xsd:element name="client_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="business_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="client_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="account_no" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="task_criteria_type">
		<xsd:sequence>
			<xsd:element name="task_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="billable" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="employee_project_criteria_type">
		<xsd:sequence>
			<xsd:element name="emp_proj_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="emp_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="proj_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="effective_date" type="xsd:date" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="end_date" type="xsd:date" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="hourly_rate" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="flat_rate" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="project_criteria_type">
		<xsd:sequence>
			<xsd:element name="project_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="project_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="client_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="client_business_id" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="client_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="project_effective_date" type="xsd:date" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="project_end_date" type="xsd:date" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
