src/main/resources/xml/schemas/mime/Audio_Video_Project_Type.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
    <xsd:include schemaLocation="Mime_Content_Type.xsd"/>
		<xsd:complexType name="audio_video_genre_lookup">
			<xsd:annotation>
				<xsd:documentation>The master list of genres for audio/video types.</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="id" type="xsd:integer" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Unique identifier for genre type.  It is required.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The description of genre.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="audio_video_media_type_lookup">
			<xsd:annotation>
				<xsd:documentation>The master list of mediums or device types in which the audio/video content resides.</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="id" type="xsd:integer" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Unique identifier for media type.  It is required.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The description of media type.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="audio_video_project_type_lookup">
			<xsd:annotation>
				<xsd:documentation>The master list of project types.</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="id" type="xsd:integer" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Unique identifier for project type.  It is required.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The description of project type.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="audio_video_artist_info">
			<xsd:annotation>
				<xsd:documentation>The list of artist pertaining to a audio project.</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="id" type="xsd:integer" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Unique identifier of the artist.  It is required.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The artist's name for audio projects.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="audio_video_project_info">
			<xsd:annotation>
				<xsd:documentation>Detail description of an audio or video asset.</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="id" type="xsd:integer" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Unique identifier for project.  It is required.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="artist" type="audio_video_artist_info" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Artist information.  This is required.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="project_type" type="audio_video_artist_info" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Artist information.  This is required.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="genre" type="audio_video_genre_lookup" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Genre information.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="media_type" type="audio_video_media_type_lookup" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Media type information.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="title" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>For audio projects, this is the album or CD name.  For video projects, this is the video title name.  This is required.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="year" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The year the audio/video was produced or released</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="master_dup_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Indicates if the audio/video exist as multiple media types in the system. 1 = true, and 0 = false.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ripped" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Indicates if the original version of the audio/video asset is in our possession or is it copied. 0 = downloaded and 1 = copied/ripped.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="cost" type="xsd:decimal" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The amound paid for the audio/video asset.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="content_path" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>File path to content.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="content_filename" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The content's filename.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="art_work_path" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>File path to art work image.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="art_work_filename" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The filename of the art work image.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="comments" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Project comments</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="media_content" type="mime_content_type" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Detail information about the content.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="date_created" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
			  <xsd:element name="date_updated" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
			  <xsd:element name="user_id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="audio_video_track_info">
			<xsd:annotation>
				<xsd:documentation>Manages the tracks of the an audio or video asset.</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="id" type="xsd:integer" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Unique identifier of the track.  It is required.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="project_id" type="xsd:integer" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The id of the track's project.  It is required.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="track_number" type="xsd:integer" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The track number.  It is required.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="title" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The track title.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="hours" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The track duration hours.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="minutes" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The track duration minutes.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="seconds" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The track duration seconds.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="disc_number" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The track's disc number.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="producer" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The producer of the track.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="composer" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The composer of the track.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="lyricist" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The lyricist of the track.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="server_name" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The name of the server where the track can be located.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="share_name" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The name of the share where the track can be located.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="root_path" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The root path where the track can be located.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="path" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The remaining path where the track can be located.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="filename" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The file name of the track including extension.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="comments" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Any notes providing additional information about the track.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="date_created" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
			  <xsd:element name="date_updated" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
			  <xsd:element name="user_id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="audio_video_criteria">
			<xsd:annotation>
				<xsd:documentation>The criteria type used for audio/video requests.</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="project_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Unique identifier of the project.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="project_type_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Project Type id.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="genre_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Genre id.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="media_type_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Media Type id.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="ripped" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Indicates if the original version of the audio/video asset is in our possession or is it copied. 0 = downloaded and 1 = copied/ripped.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="project_title" type="xsd:string" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>For audio projects, this is the album or CD name.  For video projects, this is the video title name.  This is required.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="project_year" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The year the audio/video was produced or released</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="artist_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Unique identifier of the artist.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="artist_name" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The artist's name for audio projects.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="track_id" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Unique identifier of the track.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="track_title" type="xsd:string" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>The track title.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="track_hours" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Track hours.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="track_minutes" type="xsd:integer" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Track minutes.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		
		<xsd:complexType name="audio_video_detail_group">
			<xsd:sequence>
			     <xsd:element name="genre_details" type="audio_video_genre_lookup" minOccurs="0" maxOccurs="unbounded">
			    	<xsd:annotation>
			    		<xsd:documentation>A list of genre records</xsd:documentation>
			    	</xsd:annotation>
		       </xsd:element>
		       <xsd:element name="media_type_details" type="audio_video_media_type_lookup" minOccurs="0" maxOccurs="unbounded">
			    	<xsd:annotation>
			    		<xsd:documentation>A list of media type records</xsd:documentation>
			    	</xsd:annotation>
		       </xsd:element>
		       <xsd:element name="project_type_details" type="audio_video_project_type_lookup" minOccurs="0" maxOccurs="unbounded">
			    	<xsd:annotation>
			    		<xsd:documentation>A list of project type records</xsd:documentation>
			    	</xsd:annotation>
		       </xsd:element>
		       <xsd:element name="artist_details" type="audio_video_artist_info" minOccurs="0" maxOccurs="unbounded">
			    	<xsd:annotation>
			    		<xsd:documentation>A list of artist records</xsd:documentation>
			    	</xsd:annotation>
		       </xsd:element>
		       <xsd:element name="project_details" type="audio_video_project_info" minOccurs="0" maxOccurs="unbounded">
			    	<xsd:annotation>
			    		<xsd:documentation>A list of project records</xsd:documentation>
			    	</xsd:annotation>
		       </xsd:element>
		       <xsd:element name="track_details" type="audio_video_track_info" minOccurs="0" maxOccurs="unbounded">
			    	<xsd:annotation>
			    		<xsd:documentation>A list of track records</xsd:documentation>
			    	</xsd:annotation>
		       </xsd:element>
			</xsd:sequence>
		</xsd:complexType>
</xsd:schema>