src/main/resources/xml/schemas/contacts/Contacts_Common_Type.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
	<xsd:include schemaLocation="../codes/Contacts_General_Codes_Type.xsd"/>
	<xsd:include schemaLocation="../postal/Contacts_Postal_Codes_Type.xsd"/>

    <xsd:simpleType name="generation_type">
		<xsd:annotation>
			<xsd:documentation>Manages name generation suffixes</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Sr"/>
			<xsd:enumeration value="Jr"/>
			<xsd:enumeration value="III"/>
			<xsd:enumeration value="IV"/>
			<xsd:enumeration value="V"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="contacttype_type">
		<xsd:annotation>
			<xsd:documentation>Identifies the different types of contacts.  Currently there are two types: per (personal} and bus (business).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="per"/>
			<xsd:enumeration value="bus"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="common_contact_type">
		<xsd:annotation>
			<xsd:documentation>Presents the common attributes of all contact types.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="contact_id" type="xsd:integer" default="0" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unique id of the contact.   The id could represent different types of contacts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contact_type" type="contacttype_type" minOccurs="0" maxOccurs="1" >
				<xsd:annotation>
					<xsd:documentation>The type of contact</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contact_name" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The name that identifies the contact.   For personal contacts, the name is in the format of [last name, first name].  For business (commercial) contacts, the name is equal to the business contact's long_name property.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contact_email" type="xsd:string" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The contact's email address.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="address" type="address_type" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>The address of the contract.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="business_type">
		<xsd:sequence>
			<xsd:element name="business_id" type="xsd:integer" default="0" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="entity_type" type="code_detail_type" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="service_type" type="code_detail_type" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="long_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="short_name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="contact_firstname" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="contact_lastname" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="contact_phone" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="contact_ext" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="contact_email" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="taxId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="website" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="category" type="code_group_type" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="address" type="address_type" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="person_type">
		<xsd:sequence>
			<xsd:element name="person_id" type="xsd:integer" default="0" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="first_name" maxOccurs="1" minOccurs="0" type="xsd:string" nillable="false"/>
			<xsd:element name="mid_name" maxOccurs="1" minOccurs="0" type="xsd:string" nillable="false"/>
			<xsd:element name="last_name" maxOccurs="1" minOccurs="0" type="xsd:string" nillable="false"/>
			<xsd:element name="maiden_name" type="xsd:string" maxOccurs="1" minOccurs="0"  nillable="false"/>
			<xsd:element name="generation" type="generation_type" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="short_name" type="xsd:string" minOccurs="0" nillable="false" />
			<xsd:element name="title" type="code_detail_type" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="gender" type="code_detail_type" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="marital_status" type="code_detail_type" minOccurs="0" nillable="false" maxOccurs="1"/>
			<xsd:element name="race" type="code_detail_type" minOccurs="0" nillable="false" maxOccurs="1"/>
			<xsd:element name="category" type="code_detail_type" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="birth_date" type="xsd:string" minOccurs="0" nillable="false" maxOccurs="1"/>
			<xsd:element name="ssn" type="xsd:string" minOccurs="0" nillable="false"/>
			<xsd:element name="email" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="false"/>
			<xsd:element name="address" type="address_type" minOccurs="0" maxOccurs="1" nillable="false"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="person_contact_criteria">
		<xsd:sequence>
		  <xsd:element name="contact_id" type="xsd:integer" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="person_id" type="xsd:integer" maxOccurs="unbounded" minOccurs="1"/>
			<xsd:element name="first_name" maxOccurs="1" minOccurs="1" type="xsd:string"/>
			<xsd:element name="last_name" maxOccurs="1" minOccurs="1" type="xsd:string"/>
			<xsd:element name="gender" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="marital_status" type="xsd:integer" minOccurs="1" maxOccurs="1" />
			<xsd:element name="race" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="birth_date" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ssn" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="email" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

    <xsd:complexType name="business_contact_criteria">
		<xsd:sequence>
		  <xsd:element name="contact_id" type="xsd:integer" maxOccurs="1" minOccurs="1"/>
			<xsd:element name="business_id" type="xsd:integer" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="business_name" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="entity_type" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="service_type" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="main_phone" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="tax_id" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="contact_fname" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="contact_lname" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="contact_email" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="city" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="state" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="zipcode" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="common_contact_criteria">
		<xsd:sequence>
			<xsd:element name="contact_id" type="xsd:integer" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="contact_name" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="main_phone" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="city" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="state" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="zipcode" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

  <xsd:complexType name="contact_criteria_group">
			<xsd:sequence>
				<xsd:element name="business_criteria" type="business_contact_criteria" minOccurs="0" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Selection criteria fields for business contact entity</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="person_criteria" type="person_contact_criteria" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Selection criteria fields for personal contact entity</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="common_criteria" type="common_contact_criteria" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation>Selection criteria fields for common contact entity</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
  </xsd:complexType>
				
    <xsd:complexType name="contact_detail_group">
			<xsd:sequence>
					<xsd:element name="business_contacts" type="business_type" minOccurs="0" maxOccurs="unbounded">
		    	<xsd:annotation>
		    		<xsd:documentation>A list of business type records</xsd:documentation>
		    	</xsd:annotation>
		    </xsd:element>
		    <xsd:element name="person_contacts" type="person_type" minOccurs="0" maxOccurs="unbounded">
		    	<xsd:annotation>
		    		<xsd:documentation>A list of personal type records</xsd:documentation>
		    	</xsd:annotation>
		    </xsd:element>
		    <xsd:element name="common_contacts" type="common_contact_type" minOccurs="0" maxOccurs="unbounded">
		    	<xsd:annotation>
		    		<xsd:documentation>A list of common contact type records</xsd:documentation>
		    	</xsd:annotation>
		    </xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		
</xsd:schema>